<%- include('header.ejs', {relativePath: './'}) %>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Authorization Groups</h1>
  </div>

  <div class="table-responsive">
    <% Object.keys(apiEndpointGroups).forEach((key) => { %>
      <p>
        <b><%= key %></b>
      </p>

      <ul>
        <% apiEndpointGroups[key].forEach((apiEndpoint) => { %>
          <li>
              <a href="resources/<%= apiEndpoint.id %>.html">
                <%= apiEndpoint.method %> <%= apiEndpoint.url %>
              </a>
          </li>
        <% }); %>
      </ul>
    <% }); %>
  </div>

  <%- include('footer.ejs', {relativePath: './'}) %>
