<%- include('header.ejs', {relativePath: './'}) %>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Resources</h1>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-sm">
    <thead class="thead-dark">
      <tr>
        <th>Resource</th>
        <% usersRequested.forEach((user) => { %>
          <th><%= user %></th>
        <% }); %>
      </tr>
    </thead>
    <tbody>
      <% apiEndpoints.forEach((apiEndpoint) => { %>
      <tr>
        <td>
          <a href="resources/<%= apiEndpoint.id %>.html"><%= apiEndpoint.method %> <%= apiEndpoint.url %></a>
        </td>
        <% usersRequested.forEach((user) => { %>
          <% if(apiEndpoint.aclKey()[user] == undefined) { %>
            <td>-</td>
          <% } else if(apiEndpoint.aclKey()[user] === true) { %>
            <td style="background-color: #d4edda;">
              <a href="resources/<%= apiEndpoint.id %>/<%= apiEndpoint.aclKeyRequests()[user].id %>.html">Accessible (<%= apiEndpoint.aclKeyRequests()[user].response.status %>)</a>
            </td>
          <% } else { %>
            <td style="background-color: #f8d7da;">
              <a href="resources/<%= apiEndpoint.id %>/<%= apiEndpoint.aclKeyRequests()[user].id %>.html">N/A (<%= apiEndpoint.aclKeyRequests()[user].response.status %>)</a>
            </td>
          <% } %>
        <% }); %>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('footer.ejs', {relativePath: './'}) %>
