<%- include('header.ejs') %>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Resources</h1>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-sm">
    <thead class="thead-dark">
      <tr>
        <th>Resource</th>
        <% usersRequested.forEach((user) => { %>
          <th><%= user %></th>
        <% }); %>
      </tr>
    </thead>
    <tbody>
      <% apiEndpoints.forEach((apiEndpoint) => { %>
      <tr>
        <td><%= apiEndpoint.method %> <%= apiEndpoint.url %></td>
        <% usersRequested.forEach((user) => { %>
          <% if(apiEndpoint.aclKey()[user] === true) { %>
            <td style="background-color: #d4edda;">Accessible</td>
          <% } else { %>
            <td style="background-color: #f8d7da;">N/A</td>
          <% } %>
        <% }); %>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include('footer.ejs') %>
