<%- include('header.ejs', {relativePath: '../../'}) %>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2>Request</h2>
</div>

<div class="row">
    <div class="col-lg-2">
      <b>Resource:</b>
    </div>
    <div class="col-lg-8">
      <%= apiEndpoint.method %> <%= apiEndpoint.url %>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-2">
      <b>User:</b>
    </div>
    <div class="col-lg-8">
        <%= request.user %>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-2">
      <b>Source:</b>
    </div>
    <div class="col-lg-8">
      <% if(request.pageUrl === null) { %>
        Intrusion request
      <% } else { %>
        From crawling page: <a href="../../pages/<%= page.id %>.html"><%= page.pageUrl %></a>
      <% } %>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-2">
      <b>Request Headers:</b>
    </div>
    <div class="col-lg-8">
      <% Object.keys(request.headers).forEach((header) => { %>
        <b><%= header %>:</b> <%= request.headers[header] %><br/>
      <% }); %>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-2">
      <b>Authorized?</b>
    </div>
    <div class="col-lg-8" style="background-color: #<%= request.response.authorised ? 'd4edda' : 'f8d7da' %>">
        <%= request.response.authorised ? 'Yes' : 'No' %>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-2">
      <b>Response Status</b>
    </div>
    <div class="col-lg-8">
        <%= request.response.status %>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-2">
      <b>Response Headers:</b>
    </div>
    <div class="col-lg-8">
      <% Object.keys(request.response.headers).forEach((header) => { %>
        <b><%= header %>:</b> <%= request.response.headers[header] %><br/>
      <% }); %>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-lg-2">
      <b>Response Body:</b>
    </div>
    <div class="col-lg-8">
      <iframe srcdoc="<%= request.response.body %>" width="800px" height="600px"></iframe>
    </div>
</div>

  <%- include('footer.ejs', {relativePath: '../'}) %>
