<%- include('header.ejs', {relativePath: '../'}) %>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2><%= apiEndpoint.method %> <%= apiEndpoint.url %></h2>
  </div>

  <div class="table-responsive">
    Requests:

    <ul>
      <% apiEndpoint.requests.forEach((request) => { %>
        <li>
            <a href="<%= apiEndpoint.id %>/<%= request.id %>.html">
              <%= request.user %> (<%= (request.response.authorised) ? 'Authorized' : 'N/A' %>)
            </a>
        </li>
      <% }); %>
    </ul>
  </div>

  <%- include('footer.ejs', {relativePath: '../'}) %>
