<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="<%= relativePath %>bootstrap.min.css">

    <title>AuthCov Report</title>

    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>

      <!-- Custom styles for this template -->
      <link href="<%= relativePath %>dashboard.css" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" style="font-weight: bold;">AuthCov Report</a>
    </nav>

    <div class="container-fluid" style="margin-bottom: 50px;">
        <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link <%= (activePage == 'index') ? 'active' : '' %>" href="<%= relativePath %>index.html">
                    Resource Access-Control Table <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link <%= (activePage == 'groups') ? 'active' : '' %>" href="<%= relativePath %>groups.html">
                    Authorization Groups
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link <%= (activePage == 'pages') ? 'active' : '' %>" href="<%= relativePath %>pages.html">
                    Pages Crawled
                  </a>
                </li>
              </ul>
            </div>
          </nav>

          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
