<%- include('header.ejs', {relativePath: '../'}) %>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Page</h1>
  </div>

  <div class="row">
      <div class="col-lg-2">
        <b>Url:</b>
      </div>
      <div class="col-lg-8">
        <%= page.pageUrl %>
      </div>
  </div>

  <hr/>

  <div class="row">
      <div class="col-lg-2">
        <b>Crawled by user:</b>
      </div>
      <div class="col-lg-8">
        <%= page.user %>
      </div>
  </div>

  <hr/>

  <div class="row">
      <div class="col-lg-2">
        <b>Buttons Clicked:</b>
      </div>
      <div class="col-lg-8">
        <% page.buttonsClicked.forEach((button) => { %>
          <%= button %><br/>
        <% }); %>
      </div>
  </div>

  <hr/>

  <div class="row">
      <div class="col-lg-2">
        <b>Buttons Ignored:</b>
      </div>
      <div class="col-lg-8">
        <% page.buttonsIgnored.forEach((button) => { %>
          <%= button %><br/>
        <% }); %>
      </div>
  </div>

  <hr/>

  <div class="row">
      <div class="col-lg-2">
        <b>Screenshot:</b>
      </div>
      <div class="col-lg-8">
        <img src="../screenshots/<%= page.id %>.png" style="border: 1px solid black;"/>
      </div>
  </div>

<%- include('footer.ejs', {relativePath: '../'}) %>
